$containerMaxWidth: 1290px;
$colorBlack: #202020;
$colorGrey1: #4a4a4a;
$colorGrey2: #cacaca;
$colorGrey3: #999999;
$colorGrey4: #e9e9e9;
$colorGrey5: #808080;
$colorWhite: #fff;
$colorOrange1: #ff6e30;
$colorOrange2: #bc572b;
$colorOrange3: #ce4307;
